<div class="navbar-actions">
    <div class="dropdown">
        <a href="#" class="nav-link-icon dropdown-toggle" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-user-circle"></i>
            <span id="username-display">Revan</span> </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="profile.html">Profil Saya</a></li>
            <li><a class="dropdown-item" href="orders.html">Pesanan</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" id="logout-btn">Logout</a></li>
        </ul>
    </div>
</div>